#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container #hello {
    
    margin-top: 24px;
    color: #8c8c8c;
}

#container #message {
    margin-bottom: 48px;
}

#container a {
    text-decoration: none;
}
